html,
body {
    margin: 0;
}

.main {
    width: 1170px;
    margin: 0 auto;
    position: relative;
}

.clearfix {
    clear: both;
}

[class*='col_'] {
    float: left;
}

.col_1 {
    width: 8.3333%;
}

.col_offset_1 {
    margin-left: 8.3333%;
}

.col_2 {
    width: 16.667%;
}

.col_offset_2 {
    margin-left: 16.667%;
}

.col_3 {
    width: 25%;
}

.col_offset_3 {
    margin-left: 25%;
}

.col_4 {
    width: 33.3333%;
}

.col_offset_4 {
    margin-left: 33.3333%;
}

.col_5 {
    width: 41.6667%;
}

.col_offset_5 {
    margin-left: 41.6667%;
}

.col_6 {
    width: 50%;
}

.col_offset_6 {
    margin-left: 50%;
}

.col_7 {
    width: 58.3333%;
}

.col_offset_7 {
    margin-left: 58.3333%;
}

.col_8 {
    width: 66.6667%;
}

.col_offset_8 {
    margin-left: 66.6667%;
}

.col_9 {
    width: 75%;
}

.col_offset_9 {
    margin-left: 75%;
}

.col_10 {
    width: 83.3333%;
}

.col_11 {
    width: 91.6667%;
}

.col_12 {
    width: 100%;
}

.blue {
    background-color: #004b88;
}

.col_1 i {
    padding-top: 25px;
}

.email p {
    padding: 8;
}

.right {
    float: right;
}

.first {
    color: white;
}

.right ul li {
    text-decoration: none;
    display: inline;
    padding: 0 10px;
    color: black;
}

.right ul {
    float: right;
    margin-top: 30px;
}

.picture {
    width: 100%;
    height: 500px;
    background-image: url(../images/4.jpg);
    background-size: 100%;
    z-index: -1;
}

.word {
    position: absolute;
    margin-top: 120px;
    margin-left: 400px;
}

.word h1 {
    color: #004b88;
    font-size: 80px;
}

.word p {
    color: white;
    margin-left: 80px;
}

.test {
    margin-top: -95px;
}

.test1 {
    background-color: #008bc6;
    height: 280;
    width: 95%;
    margin: 10px;
    opacity: 0.8;
}

.test2 {
    background-color: #c48d00;
    height: 280;
    width: 95%;
    margin: 10px;
    opacity: 0.8;
}

.test3 {
    background-color: #0018ab;
    height: 280;
    width: 95%;
    margin: 10px;
    opacity: 0.8;
}

.test4 {
    background-color: #c46800;
    height: 280;
    width: 95%;
    margin: 10px;
    opacity: 0.8;
}

.one{
    width: 100%;
    height: 30%;
}

.two{
    width: 100%;
    height: 40%;
    text-align: center;
}

.three{
    width: 100%;
    height: 30%;
}

.two h3{
    margin-top: 0;
    color: white;
}

.two p{
    color: white;
}

.one i{
    font-size: 40px;
    margin-left: 120px;
    margin-top: 30px;
    padding: 5px;
    background-color: white;
    opacity: 0.7;
}

.three i{
    font-size: 30px;
    margin-left: 120px;
    margin-top: 35px;
    padding: 5px;
    background-color: white;
    opacity: 0.7;
}

.reklam{
    height: 150px;
}

.visible{
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 1;
}

.hidden{
    width: 100%;
    height: 100%;
    background-color: #008bc6;
    margin-top: -150;
}

.hidden h1{
    position: absolute;
    margin-left: 500px;
    margin-top: 60px;
    color: white;
}

.visible h1{
    position: absolute;
    margin-left: 500px;
    margin-top: 60px;
    color: white;
}

.photohead{
    color: #008bc6;
    position: absolute;
    margin-left: 400px;
    margin-top: 60px;
    padding-bottom: 60px;
}

.photohead p{
    margin-left: -100;
}

.photo1{
    height: 180px;
    padding-top: 210px;
}